<form action="/users/session" method="post">
  <p>Log in to your account:</p>
  <p>username: <input type="text" name="username" /></p>
  <p>password: <input type="text" name="password" /></p>
  <p><a href="/users/signup">Don't have account? Sign up!</a></p>
  <input type="submit" name="Log In" value="Log In" />
</form>
