<% if @user != nil %>
  <h3>Welcome <%= @user.name %>!</h3>
<% else %>
  <h3>Welcome to Levelheaded!</h3>
<% end %>

<% if @user.reviews.count == 0 %>
  <p>You have no reviews yet.</p>
<% else %>
  <p>You have <%= @user.reviews.count %> <%= @user.reviews.count == 1 ? 'review' : 'reviews' %></p>
  <%= partial '/partials/_reviewslist' %>
<% end %>
