<form action="/users/registration" method="post">
  <p>Create an account:</p>
  <p>username: <input type="text" name="username" required /></p>
  <p>password: <input type="text" name="password" required /></p>
  <input type="submit" name="Sign Up" value="Sign Up" />
</form>
