<div class="header">
  <h1>Levelheaded</h1>
  <p><a href="/restaurants">RESTAURANTS</a> | <a href="/chowtables">TABLES</a> | <a href="/reviews">YOUR REVIEWS</a> | LOGIN </p>
  <hr>
</div>
<br />
<div class="wrapper">
  <%= yield %>
</div>
