<ul>
  <% @restaurants.each do |restaurant| %>
    <li><a href="<%= "/restaurants/#{restaurant.id}" %>"><%= restaurant.name %></a> (Wobbliness: <%= restaurant.wobbliness %>) <a href="<%= "/restaurants/#{restaurant.id}/delete" %>"><button>Delete</button></a></li>
  <% end %>
</ul>
