<ul>
  <% @restaurants.each do |restaurant| %>
    <li><a href="<%= "/restaurants/#{restaurant.id}" %>"><%= restaurant.name %></a>
      (Overall Wobbliness: <%= restaurant.wobbliness == nil ? 'No reviews yet' : restaurant.wobbliness %>)
      <% if @user && @user.admin? %>
        <a href="<%= "/restaurants/#{restaurant.id}/delete" %>"><button>Delete</button></a>
      <% end %>
    </li>
  <% end %>
</ul>
