<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %> (Wobbliness: <%= restaurant.wobbliness %>) <a href="<%= "/restaurants/#{restaurant.id}/delete"%>"><button>Delete</button></a></li>
  <% end %>
</ul>
