<h1>Create a new restaurant</h1>
<form action="/restaurants/create" method="post">
  <input type="text" name="restaurant[name]" id="restaurant_name" placeholder="Landmark Name" />
  <input type="text" name="restaurant[zipcode]" id="restaurant_zipcode" placeholder="Zipcode" />
  <input type="submit" id="Create New Landmark" />
</form>
