<div>
  <h2>Create new review</h2>

  <form action="/reviews/create" method="post">

    <p>Select restaurant:</p>

    <select name="restaurant_name[]">
    <% Restaurant.all.each do |restaurant| %>
      <option value="<%= restaurant.id %>" id="<%= "#{restaurant.id}" %>" ><%= restaurant.name %></option>
    <% end %>
    </select>

    <p>Or create new restaurant:</p>

    Restaurant Name: <input type="text" name="restaurant_name" /><br />
    Restaurant Phone: <input type="text" name="restaurant_phone" /><br />
    Restaurant Address: <input type="text" name="street_address" placeholder="street address" /><input type="text" name="city" placeholder="city" /><input type="text" name="state" placeholder="state" /><input type="text" name="zipcode" placeholder="zipcode" /><br />

    <p>Create new table:</p>

    Table Number: <input type="text" name="table_number" /><br />
    Table Type: <input type="text" name="table_type" /><br />

    <p>Your review:</p>

    Wobbliness: <input type="text" name="wobble" /><br />
    Content: <input type="text" name="content" /><br />
    User: <input type="text" name="user_name" /><br />

    <p><input type="submit" name="Create New Review" /></p>

  </form>
</div>
