<div>
  <h2>Create new review</h2>

  <form action="/reviews/create" method="post">

    Restaurant Name: <input type="text" name="restaurant_name" /><br />
    Restaurant Phone: <input type="text" name="restaurant_phone" /><br />
    Restaurant Address: <input type="text" name="address[street_address]" placeholder="street address" /><input type="text" name="address[city]" placeholder="city" /><input type="text" name="address[state]" placeholder="state" /><input type="text" name="address[zipcode]" placeholder="zipcode" /><br />
    Table Number: <input type="text" name="table" /><br />
    Table Type: <input type="text" name="table_type" /><br />
    Wobbliness: <input type="text" name="wobble" /><br />
    Content: <input type="text" name="content" /><br />

    <p><input type="submit" name="Create New Review" /></p>

  </form>
</div>
