<!DOCTYPE html>
<html>
  <head>
    <title>Levelheaded</title>
  </head>

  <body>
    <div class="header">
      <span><h1 style="display: inline;">Levelheaded</h1><h2 style="display: inline;"> (the review site for wobbly restaurant tables)</h2></span>
      <p><a href="/restaurants">RESTAURANTS</a> | <a href="/chowtables">TABLES</a> | <a href="/reviews/new">ADD REVIEW</a> | <a href="/reviews">YOUR REVIEWS</a> | LOGIN </p>
      <hr>
    </div>
    <br />
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>

</html>
